/* stylesheet for throwback site */

h1 {
    color: magenta;
}

h3 {
    color: blueviolet; 
}

h2 {
    color: blueviolet;
}

/*images and text formatting */

img {
    float: left
}

p {
    clear:both;
}
/* nav structure */


/* structure and layout */

#wrapper {
    width: 960px;
    margin: 0px auto;
}