/* stylesheet for throwback site */

h1 {
    color: magenta;
}

h3 {
    color: blueviolet; 
}

h2 {
    color: blueviolet;
}

/*images and text formatting */

img {
    float: left
}

p {
    clear:both;
}
/* nav structure */


/* structure and layout */

#wrapper {
    width: 960px;
    margin: 0px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}
a {
    display: block;
    padding: 12px;
    background-color: #b3bdc0;
}